.students-container {
  font-size: x-large;
  margin-top: 1.5rem;
  border-style: solid;
  padding: .5rem;
  overflow-y: scroll;
  height: 70vh;
  border-radius: .5rem;
}

.else-list-block-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
}

.student-item {
  min-height: 145px;
  display: inline-block;
}

.students-title {
  margin-bottom: 1rem;
  display: flex;
  flex: 1 0 auto;
}

.flex-box {
  display: flex;
}

